*{
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    gap: .5rem;

}

:root {
    --preto: #0B090A;
    --cinza-escuro: #161A1D;
    --vermelho-escuro: #660708;
    --vermelho-medio: #A4161A;
    --vermelho: #BA181B;
    --vermelho-rosado: #E5383B;
    --cinza: #B1A7A6;
    --cinza-medio: #D3D3D3;
    --cinza-claro: #DCDCDC;
    --platinum: #E3E3E3;
    --cinza2: #757575;
    --cinza3: #efefef;
}

html {
    scroll-behavior:smooth;
  }
  
body {
background-color: var(--platinum);
}

.nav{
    display: flex;
    color: var(--preto);
    justify-content: center;
    text-align: center;
    border:0 1px solid var(--preto);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60px;
    font-weight: 800;

}

.products-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-list{
    text-align: center;
    justify-content: center;
    align-items:center;
    border-radius: .7rem;
    border: 2px solid var(--preto);
    margin: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--cinza-medio);
    color: var(--preto);
    cursor: pointer;
    transition: .3s;
    overflow: auto;
}

.item-list:hover {
    font-weight: 600;
    color: var(--vermelho);
}

.h1-nav {
    justify-content: center;
    margin-top: 9px;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5% 7%;
    padding: 2%;
    background: var(--cinza2);
    gap: 4em;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerItem{
    display: flex;
    align-items: center;
    width: 80%;
    height: 450px;
    margin: 5% 7%;
    padding: 3% 0;
    justify-content: space-between;
    background:var(--cinza2);
    overflow: auto;
    margin-top: -40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.cartItem{
    text-align: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    background: var(--cinza);
    margin: 3rem;
    overflow: auto;
    border: 2px solid var(--vermelho-escuro);
}

.contador-button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 6em;
    height: 1.5em;
    background: var(--preto);
    gap: .7rem;
    margin-left: 5rem;
}

.contador {
    background: transparent;
    border: none;
    color: var(--cinza3);
    font-size: 1.5rem;
    cursor: pointer;
}

.order {
    display: flex;
    list-style: none;
}

.button-hall {
    background: var(--preto);
    color: var(--cinza);
    border-radius: .5rem;
    font-size: 1.2rem;
    height: 2rem;
    width: 8rem;
    border: none;
    cursor: pointer;
}

.input-area{
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--vermelho-escuro);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.input-area::placeholder{
    color: var(--preto);
    font-size: 1rem;
}

.style-mesas{
    background: var(--preto);
    color: var(--cinza);
    border-radius: .5rem;
    font-size: 1.2rem;
    height: 2rem;
    width: 11rem;
    border: none;
    cursor: pointer;
}

.total {
    margin-top: 5rem;
    text-align: center;
    color: var(--vermelho-escuro);
}

.button-class {
    background: transparent;
    border: 1px solid var(--vermelho-escuro);
    color: var(--vermelho-escuro);
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.products {
    margin: 3rem;
    height: 25rem;
    width: 25rem;
    background: var(--cinza);
    border: 2px solid var(--vermelho-escuro);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    overflow: auto;
}

.rota-kitchen {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--preto);
    color: var(--cinza3);
    border: none;
    border-radius: .5rem;
    height: 3rem;
    width: 15rem;
    font-size: 1rem;
    font-weight: 500;
}

.button-rota-kitchen {
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

@media (max-width: 768px){
    .h1-nav {
        font-size: 1rem;
    }

    .button-hall {
        font-size: .5rem;
        height: 1rem;
        width: 2rem;

    }
    .div-button {
        width: 100%;
        margin: 3% 5%;
        padding: 1%;
        gap: .3em;
    }

    .style-mesas{
        font-size: .9rem;
        height: 1rem;
        width: 8rem;
    }
    .input-area{
        font-size: .9rem;
        font-weight: 400;
    }

    .containerItem{
        width: 80%;
        height: 30rem;
        margin: 5% 7%;
        padding: 3% 0;
        overflow: auto;
        margin-top: 3rem;    
    }

    .products-img {
        height: 3rem;
        width: 3rem; 
    }

    .item-list{
        font-size: .6rem;
        font-weight: 500;
    }

    .containerItem {
        width: 40rem;
        height: 30rem;
    }

    .cartItem {
        width: 8rem;
        height: 15rem;
        overflow: auto;
    }

    .contador-button {
        margin-left: 1rem;
    }

    .contador {
        font-size: .9rem;
    }

    .products {
        max-width: 100px;
    }
   

}
